* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Karla", sans-serif;
}

h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 20px;
  font-weight: 700;
}

header h2 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 10px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 16px;
}

header {
  margin: 50px;
}

header p {
  line-height: 1.5;
}

.container {
  margin: 20px auto;
  width: 62%;
  border: 1px solid lightsteelblue;
  border-radius: 3px;
}

.container > div {
  flex: 1;
}

button {
  background-color: hsl(71, 73%, 54%);
  color: white;
  border-radius: 8px;
  padding: 10px 58px;
  margin-top: 30px;

  border: none;
}
ul {
  list-style: none;
  line-height: 1.5;
  padding: 30px 0;
}

.card-2 {
  display: flex;
  color: #fff;
}

.card-2 > div {
  flex: 1;
}
@media (max-width: 600px) {
  .card-2 {
    flex-direction: column;
  }
}

.box-1 {
  background-color: hsl(179, 62%, 43%);
  font-size: 16px;
  padding: 48px;
  width: 34%;
}

.box-1 h2 {
  padding-bottom: 30px;
}

.box-1,
.box-2 p {
  line-height: 2.5rem;
}

.box-1 strong {
  font-size: 50px;
}

.box-2 {
  background-color: hsl(180, 45%, 64%);
  font-size: 16px;
  padding: 50px;
  width: 34%;
}

@media (max-width: 600px) {
  .box-1,
  .box-2 {
    width: 100%;
  }
}
